<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>json,cobertura,lcov,opencover,xml</Format>
          <ExcludeByAttribute>Obsolete,GeneratedCodeAttribute,CompilerGeneratedAttribute</ExcludeByAttribute>
          <Include>
            <ModulePath>ErikLieben.FA.StronglyTypedIds.dll</ModulePath>
          </Include>
          <Include>
            <ModulePath>ErikLieben.FA.StronglyTypedIds.Generator.dll</ModulePath>
          </Include>
          <Exclude>
            <ModulePath>*.Tests.dll</ModulePath>
          </Exclude>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>